html,body {
  font-family: 'Raleway', sans-serif;
  padding: 2em 2em;
  font-size: 18px;
  background: #222;
  color: #aaa
}

h1,h2 {
  font-weight: 200;
  margin: 0.2em 0;
}

h1 { font-size: 3.5em;
}

h2 {
  color: #888;
  font-size: 2em;
}

a {
  color: #9a9a9a
}

h3 {
  font-weight: 200;
  margin: 0.2em 0;
  font-size: 3.5em;
  padding: 0em 1.2em;;
}

p.text {
  padding: 0em 4.5em;;
}

p.aboutme{
  text-align: center;
  font-size: 1.5em;
  color: #222
}

p.right{
  padding: 0em;
  text-align: right;
}

ul {
  padding: 0em 6em;;
}

table {
  padding-top: .5em;
  text-align: center;
  margin: auto;
}

table.social {
  padding-top: .5em;
  margin:inherit;
}

ul.right {
  direction:rtl;
  list-style-image:url(http://australianetwork.com/img/icon_arrow_left_black.png);
 }

 img.headshot {
   padding-left: 8em;
   width: 250px
 }

 img.arrow {
   width: 50px;
 }

 img.bottomarrow {
   width: 50px;
   padding-top: 3em;
   display: none;
   cursor: hand;
 }

 table.downarrowtable {
   margin-top:1em;
   cursor:pointer;
 }

.button {
    background-color: #949B91;
    border: none;
    color: 222;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.showmore {
    background-color: #f58;
    border: none;
    color: 222;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

#MiddleSection {
  background: white;
  color: #222;
  position:relative;
  left:0;
  right:0;
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  padding-bottom: 5em;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  width: 100vw;
  box-shadow: 100px 0px #ffffff, -100px 0px #ffffff;
}

#Straighten {
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  text-align: center;
}

#BottomSection {
  background: #222;
  color: #aaa;
  position:relative;
  left:0;
  right:0;
  -ms-transform: rotate(1.5deg);
  -webkit-transform: rotate(1.5deg);
  transform: rotate(1.5deg);
  margin-top: -3em;
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  box-shadow: 100px 0px #222, -100px 0px #222;
}

#StraightenRight {
  -ms-transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
  text-align: right;
}

#snapchatdiv{
  display: none;
  opacity: 0;
  visibility: hidden;
}

#moredeveloper{
  display: none;
  opacity: 0;
  visibility: hidden;
}
.moresnapbutton  {
  padding-top: 1em;
}
.moredeveloper  {
  padding-top: 1em;
}
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
